html
{
	font-size:24px;
}
body
{
	background-image: url(czas.jpg) ;
  background-size: cover;
}
#boxMain
{
  padding: 1rem;
  margin-top: 1rem;
  background-color: green;
  width: 42rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

#headerMain
{
  font-size: 2.5rem;
  color: #D9D919;
  text-transform: uppercase;
  margin-top: 2.5rem;
  text-align: center;
  letter-spacing: 1px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#headerSecond
{
  margin-top: 1rem;
  font-size: 1.5rem;
}
#box2
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
#par1
{
      margin-top:2rem;
      height: auto;
      width: 16.5rem;
      font-size: 1.5rem;
      margin-left: 4.5rem;
      text-align: center;
      height: auto;
      color: #ddd;
}
#curDate
{
    height: auto;
    width: 16.5rem;
    margin-right: 1.5rem;
    font-size: 1.5rem;
    align-self: flex-end;
    padding: 1rem;
    color: #ddd;


}

#spaceTask
{
  float: left;
  margin-left: 4.5rem;
  padding: 4px;
  font-size: 1rem;
  border-radius: 1rem;
}
#buttonAdd
{
  border-radius: 1rem;
  float: left;
  margin-left: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1rem;
}
#art1
{
  margin: 2.5rem;
  background-color:#00a000;
  width: 29rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  border: solid;
  border-width: 7px;
  border-radius: 1rem;
  border-color: #006000;
}
#task
{

  background-color: #006000;
  padding: 2.5rem;
  text-align: left;
  border-radius: 0.5rem;
  border-color: #008000;
  font-size: 1rem;
  font-weight: 300;
}
.bott
{
  border-radius: 1rem;
  border: double;
  padding-left: 8px;
  padding-right: 8px;
  margin:0.3rem;
  background-color: #93c748;
  border-color: #008000;
}
.quest{
  font-weight:100;
}

#foot{
	font-size: 0.7rem;
  padding: 1rem;
  color: white;
}
